@font-face {
    font-family: 'tangomacabreregular';
    src: url('./fonts/macabre/tangomacabre.ttf');
    src: url('./fonts/macabre/tangomacabre.eot');
    src: url('./fonts/macabre/tangomacabre.eot?#iefix') format('embedded-opentype'),
         url('./fonts/macabre/tangomacabre.woff2') format('woff2'),
         url('./fonts/macabre/tangomacabre.woff') format('woff'),
         url('./fonts/macabre/tangomacabre.svg#tangomacabreregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.title-memory{
    font-family: 'tangomacabreregular';
}

ul{
    position: absolute;
}

ul li
{
list-style-type:none;
display:inline;
text-align:justify;
padding-right:50px;
padding-left:50px;
font-size:20px;  

font-weight:bold;
text-align:center;  
}